@page
@model ASPCinemaApplication.Pages.Movies.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movie.title" class="control-label"></label>
                <input asp-for="Movie.title" class="form-control" />
                <span asp-validation-for="Movie.title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.bbfcRating" class="control-label"></label>
                <input asp-for="Movie.bbfcRating" class="form-control" />
                <span asp-validation-for="Movie.bbfcRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.description" class="control-label"></label>
                <input asp-for="Movie.description" class="form-control" />
                <span asp-validation-for="Movie.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.releaseDate" class="control-label"></label>
                <input asp-for="Movie.releaseDate" class="form-control" />
                <span asp-validation-for="Movie.releaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.genre" class="control-label"></label>
                <input asp-for="Movie.genre" class="form-control" />
                <span asp-validation-for="Movie.genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.imageName" class="control-label"></label>
                <input asp-for="Movie.imageName" class="form-control" />
                <span asp-validation-for="Movie.imageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
